.editCommentModal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
}
.editCommentModal form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    
}
.editCommentModal textarea,
.editCommentModal input{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0.5em 0;
    background-color: transparent;
    font-family: 'Permanent Marker', cursive;
    font-size: 24px;
}



.editCommentModal form button{
    display: block;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    border: 1px solid black;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
    background: transparent;
    color: black;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    
}
.editCommentModal form button:hover{
    background: white;
}
