.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 100%;
   
}

.title,
.description {
    text-align: center;

}

.title{
font-size: 34px;
}

.description{
    font-size: 20px;
    height: 5px;
    padding: 10px;
    margin-bottom: 25px;
}
.graph-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 60%;
   
    
}

.controls {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.controls button {
    border: none;
    background-color: transparent; 
  }

  .add-fav{
    color: pink;
  }

  .d-open-btn{
    border: none;
    background-color: transparent;
    padding: 0;
  }

  .comment-views-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 10%;  
    margin-right: 100px;
}
.edit-delete-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 10%; 
    margin-left: 100px;
}

.comment-card {
    border: 1px solid black;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
    padding: 15px;
    margin-top: 25px;
   
    border-radius: 5px;
   
}

.comment-content {
    display: flex;
    align-items: center;
    
}

.comment-user {
    margin: 0;
    font-size: 24px;
    margin-right: 10px;
}

.comment-text {
    margin: 0;
    font-size: 20px;
}

.comment-controls {
    display: flex;
    justify-content: space-between;
}
