.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}


ul{
  list-style-type: none;
}




.Nav {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: flex-end;
  margin-right: 90px;
}
.Nav button{
  border: none;
  background: transparent;
  border: 1px solid black;
   
  color:black;
  border-radius: 4px;
  width: 80px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;  
}
