.modal-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
  }
  
  .comment-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .comment-input {
    width: 100%;
    margin: 0.5em 0;
    background-color: transparent;
    font-family: 'Permanent Marker', cursive;
    font-size: 24px;
  }
  
  .comment-button {
    display: block;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    border: 1px solid black;
    background-color: transparent;
    color: black;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .comment-button:hover{
    background: white;
  }
