#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  font-family: 'Permanent Marker', cursive;
  overflow-y: auto;
  max-height: 100vh;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#modal-content {
  position: absolute;
  width:70%;
  
  justify-content: center;
  background: #E1E7F3;
  background-image:
  linear-gradient(0deg, transparent 24px, rgba(0,0,0,.05) 25px, rgba(0,0,0,.05) 26px, transparent 27px, transparent 49px, rgba(0,0,0,.05) 50px, rgba(0,0,0,.05) 51px, transparent 52px),
  linear-gradient(90deg, transparent 24px, rgba(0,0,0,.05) 25px, rgba(0,0,0,.05) 26px, transparent 27px, transparent 49px, rgba(0,0,0,.05) 50px, rgba(0,0,0,.05) 51px, transparent 52px);

background-size: 50px 50px;
  
}
